html{
    width: 540vw; /* cada 100vw é igual a qnt de páginas */
    overflow-y: hidden;
}
body{
    background: #000;
    margin: 0;
}

p, h1, h3{
    margin: 0; padding: 0;
}

div{
    color: #fff;
}
/* páginas */
#solucoes, #clientes, #somos, #contato{
    width: 110vw;
    height: 78vh;
    float: left;
    padding-top: 20vh;
}
#inicio{
width: 100vw;
height: 78vh;
float: left;
padding-top: 20vh;}

#inicio{background: rgb(8, 8, 8);}
#solucoes{background: #FF460D;}
#clientes{background: #000}
#somos{background: #3FBC3F}
#contato{background: #2E682E;}

#grad{
    background: rgb(63,188,63);
    background: linear-gradient(90deg, rgba(63,188,63,1) 0%, rgba(255,70,13,1) 100%);
    display: none;
}

/* cabeçalhos */
header{
    position: fixed;
    top:0;
    left:0;
    width: 90vw;
    height: 70px;
    z-index: 1;

    padding: 50px;
}
#logo{
    height: 70px;
    float: left;
}
#menu{
    display: none;
    position: fixed;
    background: #FF460D;
    width: 500px;
    height: 100vh;
    margin: 0;
    padding: 50px;
    float: right;
    right: 0;
    z-index: 1000;
}
.menu{
    width: 30px;
    float: right;
    cursor: pointer;
}
#menu li{
    list-style: none;
    margin-top: 25px; 
}
#menu li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30pt;
    text-decoration: none;
    color: #fff;
}
#menu li a:hover{
    margin-left: 20px;
}

/* INICIO */
#inicio h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 50pt;
    margin: 50px 0 0 0;
}
#inicio p, #inicio a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;;
}
.btn-home{
    width: 80px;
}
#inicio{
    text-align: center;
    background: url('../assets/patterns.svg') repeat;
    background-size: 50%;
}
#inicio div{
    margin: 50px 0 50px 0;
}

/* SOLUÇÕES */
#solucoes h2, #solucoes p, #clientes h2, #clientes p, #somos h2, #contato h2{
    text-align: center;
}
#solucoes h2, #clientes h2, #somos h2, #contato h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 50pt;
    margin: 50px 0 0 0;
}
#solucoes p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}
#solucoes .grade{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    width: 66vw;
    margin: 0 auto;
}
#solucoes div div {
    padding: 20px;
    margin: 30px 0;
    background: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#solucoes div div ul{
    list-style: none;
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 300px;
}
#solucoes div div ul li{
    border: #FF460D 1px solid;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;
    color: #FF460D;
    width: 100%;
    margin: 10px auto 10px auto;
    text-align: center;
}
#solucoes div div h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #FF460D;
    text-transform: uppercase;
    font-size: 15px;
}
#solucoes div div p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #CCC;
    text-align: left;
    font-size: 13px;
    margin: 0;
}
.icon-desv{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    float:left;
}

/* CLIENTES */
#clientes{
    position: relative;
}
#clientes ul{
    list-style: none;
    position: absolute;
    bottom: -16px;
}
#clientes ul li{
  background: #FF460D;
  width: 150px;
  height: 300px;
  margin: 0 20px;
  float: left;
}
#clientes ul li img{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-top: -70px;
}
/* QUEM SOMOS */
#somos p{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 150px 0 20px 300px;
    width: 500px;
}
/* CONTATO */
.contato{
    width: 500px;
    margin: 0 auto;
}
.contato input{
    background: #204C20;
    border: 1pt solid #408240;
    padding: 20px;
    margin: 10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#form-col-um{
    float: left;
    width: 50%;
}
#form-col-dois{
    float: right;
    width: 50%;
    text-align: right;
}
.mensagem{
    height: 200px;
}
.contato button{
    width: 100%;
    background: #3FBC3F;
    border: 1pt solid #408240;
    padding: 20px;
    margin: 10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}